[submodule "NewModuleOne"]
	path = NewModuleOne
	url = https://github.com/sang105/TestingPublic.git
[submodule "NewModuleTwo"]
	path = NewModuleTwo
	url = https://github.com/sang105/TestingPublic.git
[submodule "NewModuleThree"]
	path = NewModuleThree
	url = https://github.com/sang105/TestingPublic.git
[submodule "NewModuleFour"]
	path = NewModuleFour
	url = https://github.com/sang105/TestingPublic.git
